// :: FORMS :: //

[type='text'], [type='password'], [type='date'],
[type='datetime'], [type='datetime-local'], [type='month'],
[type='week'], [type='email'], [type='number'],
[type='search'], [type='tel'], [type='time'],
[type='url'], [type='color'], textarea {
  margin-bottom: rem-calc(12);
  height: rem-calc(52);
}
select {
  margin-bottom: rem-calc(12);
  height: rem-calc(52);
}

::placeholder { font-style: italic; }

.form-item {
  margin-bottom: 1rem;
  .form-required {
    &:after {
      content: ' *';
      display: inline;
      color: $primary-color;
    }
  }
}