// :: TYPOGRAPHY :: //

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

p {
  a {
    text-decoration: underline;
    word-wrap: break-word;
  }
}

.block-local-tasks-block {
  ul.tabs {
    list-style: none;
    display: flex;
    margin: 1rem 0;
    li {
      margin-right: 0.5rem;
      a {
        padding: 6px 10px;
        background: $light-gray;
        color: $black;
      }
      &.is-active {
        a {
          background: $primary-color;
          color: $white;
        }
      }
    }
  }
}