/*
Pager

Default pager component.<br>
<pre>[THEME]/templates/navigation/pager.html.twig</pre>

Markup:
  <nav class="pager" role="navigation" aria-labelledby="pagination-heading">
    <h4 id="pagination-heading" class="visually-hidden">Pagination</h4>
    <ul class="pager__items js-pager__items">
      <li class="pager__item pager__item--first">
        <a href="# title="Go to first page">
          <span aria-hidden="true">« First</span>
        </a>
      </li>
      <li class="pager__item pager__item--previous">
        <a href="#" title="Go to previous page" rel="prev">
          <span aria-hidden="true">‹ Previous</span>
        </a>
      </li>
      <li class="pager__item is-active">
        <a href="#" title="Current page">1</a>
      </li>
      <li class="pager__item">
        <a href="#" title="Go to page 2">2</a>
      </li>
      <li class="pager__item">
        <a href="#" title="Go to page 3">3</a>
      </li>
      <li class="pager__item">
        <a href="#" title="Go to page 4">4</a>
      </li>
      <li class="pager__item">
        <a href="#" title="Go to page 5">5</a>
      </li>
      <li class="pager__item pager__item--next">
        <a href="#" title="Go to next page" rel="next">
          <span aria-hidden="true">Next ›</span>
        </a>
      </li>
      <li class="pager__item pager__item--last">
        <a href="#" title="Go to last page">
          <span aria-hidden="true">Last »</span>
        </a>
      </li>
    </ul>
  </nav>

Styleguide Atoms.3
*/

@import '../../settings-foundation';
@import '../../../node_modules/foundation-sites/scss/foundation.scss';

nav.pager ul,
ul.pager,
ol.pager {
  margin: 1rem 0 0 0;
  list-style-type: none;
  text-align: center;

  li.pager__item  {
    display: inline-block;
    padding: 4px;
    & a {
      background: $light-gray;
      color: $dark-gray;
      width: 100%;
      font-size: 1em;
      border-radius: 4px;
      display: block;
      padding: 2px 10px;
    }
    &.is-active {
      a {
        background: $primary-color;
        color: $white;
      }
    }
  }
}