:root {
  #{--kss-scheibo--maincolor}: #303030;
  #{--kss-scheibo--maincolor-con}: #f2f2f2;
}

// imports
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
// @import '../../node_modules/foundation-sites/scss/vendor/normalize.scss';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

.code-inline, code {
  border: none !important;
  padding: 0 !important;
}