/*
Headline

Default headline component.<br>
<pre>[THEME]/templates/content/node--headline.html.twig</pre>

Markup:
  <article role="article" class="node node--view-mode-headline headline">
    <div class="node__content">
      <div class="headline-section">
        <h4>
          <a href="#" rel="bookmark">
            <span class="field field--name-title field--type-string field--label-hidden">This is a headline.</span>
          </a>
        </h4>
      </div>
    </div>
  </article>

Styleguide Molecules.4
*/

@import '../../settings-foundation';
@import '../../../node_modules/foundation-sites/scss/foundation.scss';


.headline {
  border-bottom: 1px solid $light-gray;
  margin-bottom: 1rem;

  .node__content {
    display: flex;
  }

  &-section {}
}
