{#
/**
 * @file blurb_entity.html.twig
 * Default theme implementation to present Blurb entity data.
 *
 * This template is used when viewing Blurb entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_blurb_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('blurb_entity') }}>
  {% if content %}
    <h3 class="blurb--title">{{ content.name }}</h3>
    {{- content|without('name') -}}
  {% endif %}
</div>
