{#
/**
 * @file
 * Default theme implementation to display a microview paragraph.
 *
 * Standard paragraph variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * Non-standard variables (microview specific):
 * - blurb_count: The amount of node objects was found as a result
 * - blurb_display: The machine name of the display type chosen for this paragraph
 * - is_custom: TRUE if the _custom_ display type is chosen
 *
 * @see template_preprocess_paragraph()
 * @see rw_components_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
set classes = [
  'paragraph',
  'rw-paragraph--blurb-row',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}

{% if is_admin %}
<div class="rw-paragraph-admin clearfix">
  <p class="rw-paragraph-admin--type">blurb row</p>
  <p class="rw-paragraph-admin--status"><strong>{{ blurb_display }}</strong> with <strong>{{ blurb_count }}</strong> item(s)</p>
</div>
{% endif %}

<div class="rw-paragraph--blurb-row--wrapper">
  {% if content.field_subtitle  %}<h2 class="rw-paragraph--title">{{ paragraph.field_subtitle.value }}</h2>{% endif %}
  <div class="blurb-row--intro">
    {{ content.field_wysiwyg }}
  </div>
  {% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {{ content|without('field_subtitle', 'field_wysiwyg') }}
      {% if is_admin and blurb_count == '0' %}
        <div class="alert alert-warning">{{ 'Warning: The row has no blurbs. Add blurbs from the node/edit form or the Blurb content list.' }}</div><!-- .alert -->
      {% endif %}
    {% endblock %}
  </div>
  {% endblock paragraph %}
</div>
