// :: GLOBAL :: //

body {
  overflow-x: hidden;
}

.mobile-only {
  @include breakpoint(large) {
    display: none !important;
  }
}

.region-breadcrumb {
  background: $light-gray;
  position: relative;
  &:before, &:after {
    content: '';
    position: absolute;
    height: 100%;
    background: $light-gray;
    top: 0;
    width: 50vw;
  }

  &:before {
    right: 100%;
  }

  &:after {
    left: 100%;
  }
}

.region-content {
  padding: 3rem 0;
  min-height: 400px;
}
