// :: HEADER :: //

// SITE HEADER
.site-header {
  position: fixed;
  z-index: 2;
  background: $white;
  width: 100%;
  border-bottom: 1px solid $light-gray;

  .region-header {
    display: flex;
    height: $header-height;
  }
}

// SITE HEADER ~ AFTER
.site-header-after {
  height: $header-height;
}

// BLOCK ~ LOGO
#block-blip-sitebranding {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 166px;

  a.site-logo {
    display: flex;
    height: 100%;
    width: auto;
    padding: 1rem 0;
  }
}
