// :: NAVIGATION :: //

// BLOCK ~ NAVIGATION
nav#block-blip-mainnavigation {
  position: absolute;
  width: 100vw;
  left: 0;
  top: $header-height;
  display: none;

  @include breakpoint(large) {
    position: relative;
    width: auto;
    top: auto;
		flex-grow: 1;
		display: flex;
		justify-content: flex-end;
		align-items: center;
  }

  &.is-expanded {
		display: block;
		@include breakpoint(large) {
			display: flex;
		}
  }

	// first level
	ul.menu {

    @include breakpoint(large) {
      justify-content: flex-end;
    }

		li.menu-item {
      position: relative;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 100%;
      width: 100%;
      background: $white;
			
			a {
				padding: 1rem;
				line-height: 26px;
				border-bottom: 1px solid $dark-gray;
			}
			
			&:first-child {
				a {
					border-top: 1px solid $dark-gray;
				}
			}

			// has children
			&.is-parent {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% - 59px);
        width: calc(100% - 59px);

				// icon
				sub {
					position: absolute;
					width: 59px;
					height: 59px;
					display: block;
					top: 0;
					right: -59px;
					text-align: center;
					background: $light-gray;
					border-bottom: 1px solid $dark-gray;
					&:after {
						width: 59px;
						height: 59px;
						display: block;
						line-height: 59px;
						font-family: 'Font Awesome 5 Free';
						font-weight: 900;
						content: '\f107';
						font-size: 1rem;
						color: $primary-color;
					}
				}
				&:first-child {
					sub {
						border-top: 1px solid $dark-gray;
					}
				}

				// second level
				ul.menu {
					display: none;
					width: calc(100% + 59px);
					li.menu-item {
						margin-left: 0;
						background: $light-gray;
						a {
							padding: 1rem 1rem 1rem 2rem;
						}
						&:first-child {
							a {
								border-top: none;
							}
							sub {
								border-top: none;
							}
						}
					}
				}

				// is expanded
				&.is-expanded {
					& > ul.menu {
						display: flex;
					}
					& > sub {
						&:after {
							content: '\f106';
						}
					}
				}

				// third level parent
				ul.menu {
					li.menu-item {

						// has children
						&.is-parent {
							flex-basis: calc(100% - 59px);
        			width: calc(100% - 59px);

							// icon
							sub {
								right: -59px;
								height: 59px !important;
								background: $medium-gray;
								&:after {
									color: $dark-gray;
								}
							}

							// third level
							ul.menu {
								display: none;
								width: 100%;
								li.menu-item {
									background: $medium-gray;
									flex-basis: calc(100% + 59px);
        					width: calc(100% + 59px);
									a {
										padding: 1rem 1rem 1rem 3rem;
									}
								}
							}

							// is expanded
							&.is-expanded {
								& > ul.menu {
									display: flex;
								}
							}

						}
					}
				}

			}

			@include breakpoint(large) {
        flex-basis: auto;
        width: auto;
        background: none;
				a {
					padding: 1rem;
					border-bottom: none;
					white-space: nowrap;
				}
				&:first-child {
					a { border-top: none; }
				}
				&:last-child {
					a {
						padding: 1rem 0 1rem 1rem;
					}
				}

				// has parent
				&.is-parent {
          flex-basis: auto;
          width: auto;

					// icon
					sub {
						display: none;
					}

					// second level
					ul.menu {
						background: $white;
						position: absolute;
						width: auto;
						li.menu-item {
							background: none;
							a {
								padding: 0.5rem 1rem;
							}
							&:first-child {
								a {
									padding-top: 2rem;
								}
							}

							// third level
							ul.menu {
								left: 100%;
								top: 0;
								width: auto !important;
								li.menu-item {
									background: $white !important;
									width: auto !important;
									flex-basis: auto !important;
									a {
										padding: 0.5rem 1rem !important;
									}
								}
							}

							// has children
							&.is-parent {
								width: 100%;
								&:first-child {
									ul.menu {
										top: 1.5rem;
									}
								}
							}

						}
					}

					// is expanded
					&.is-expanded {
						& > ul.menu {
							display: none !important;
						}
						&:hover {
							& > ul.menu {
								display: block !important;
							}
						}
					}

				}
				&:hover {
					& > ul.menu {
						display: block !important;
					}
				}
			}
		}
	}
}

// BURGER TOGGLER
.burger-toggler {
	display: block;
	position: absolute;
	height: 2rem;
	width: 2rem;
	top: calc((#{$header-height} / 2) - 1rem);
	right: 1rem;
	div {
		width: 2rem;
		position: absolute;
		height: 22px;
		display: block;
		top: 7px;
		right: 0;
	}
	span { display: block;
		position: absolute;
		height: 2px;
		width: 100%;
		background: $dark-gray;
		left: 0;
		transition: all 0.1s ease-in-out;
		@include rotate(0);
		&:nth-child(1) {
			top: 0;
		}
		&:nth-child(2),
		&:nth-child(3) {
			top: 8px;
		}
		&:nth-child(4) {
			top: 16px;
		}
	}
	&.is-expanded {
		span {
			&:nth-child(1) {
				width: 0%;
				left: 50%;
			}
			&:nth-child(2) {
				@include rotate(45);
			}
			&:nth-child(3) {
				@include rotate(-45);
			}
			&:nth-child(4) {
				width: 0%;
				left: 50%;
			}
		}
	}
	@include breakpoint(large) {
		display: none;
	}
}
