/**
 * @file
 * Default styles for the admin pages of reports for the Amandla.mobi site
 */

/** Dashboard */
.am-reports.item-list ul {
  list-style: none;
  margin: 0;
}
.am-reports.item-list ul li {
  list-style: none;
  margin: 0;
}
.am-reports--grid {
  padding: 0;
  margin: 0;
  list-style: none;
}
.am-reports--widget {
  padding: 0;
  margin: 0 0 var(--rw-gutter, 24px) 0;
}

/** Progress bars */
.view-ama-campaigns .view-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.view-ama-campaigns .views-row {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(50% - 1rem);
}
.view-ama-campaigns .campaign--progress {
  margin-bottom: 1rem;
}
.view-ama-campaigns .campaign--values {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}
.view-ama-campaigns .campaign--values span {
  font-weight: normal;
}

/** Exposed filter **/
.am-reports--personal-info {
  /*background: green !important;*/
}
.am-reports--personal-info .details-wrapper {
  display: flex;
  flex-wrap: wrap;
}
