/*
Card

Default card component.<br>
<pre>[THEME]/templates/content/node--card.html.twig</pre>

Markup:
  <article role="article" class="node node--view-mode-card card" style="width: 20rem;">
    <div class="node__content">
      <a href="#">
        <div class="field field--name-field-image-ref field--type-entity-reference field--label-hidden field__item">
          <article class="media media--type-image media--view-mode-landscape-sm">
            <div class="field field--name-field-media-image field--type-image field--label-hidden field__item">
              <img src="https://via.placeholder.com/320x240.png?text=320x240" width="320" height="240" class="image-style-standard-sml">
            </div>
          </article>
        </div>
      </a>
      <div class="card-section">
        <h4>
          <a href="#" rel="bookmark">
            <span class="field field--name-title field--type-string field--label-hidden">This is a card.</span>
          </a>
        </h4>
        <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
          <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <a href="#" class="button primary btn btn-primary" title="href title">Primary Button</a>
      </div>
    </div>
  </article>

Styleguide Molecules.1
*/

@import '../../settings-foundation';
@import '../../../node_modules/foundation-sites/scss/foundation.scss';
@include foundation-card;

.card {
  border-radius: 4px;
  height: 100%;

  .node__content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .field--name-field-image-ref {
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: $dark-gray;
  }

  .button {
    margin-bottom: 0;
    margin-top: auto;
    align-self: flex-start;
  }
}
