// :: GRID :: //

.views-view-grid {

	// horizontal
	&.horizontal {

		& > div {
			@include xy-grid(horizontal, true);
			@include xy-gutters($grid-margin-gutters, margin, right left, true);
		}

		// all columns
		&.cols-1, &.cols-2, &.cols-3,
		&.cols-4, &.cols-5, &.cols-6,
		&.cols-7, &.cols-8, &.cols-9,
		&.cols-10, &.cols-11, &.cols-2 {
			& > div > div { @include xy-cell(12, null, $grid-margin-gutters, margin, right bottom left, small, false, (size gutters)); }
			@include breakpoint(medium) {
				& > div > div { @include xy-cell(12, null, $grid-margin-gutters, margin, right bottom left, medium, false, (size gutters)); }
			}
			@include breakpoint(large) {
				& > div > div { @include xy-cell(12, null, $grid-margin-gutters, margin, top right bottom left, medium, false, (size gutters)); }
			}
		}

		// 2 columns
		&.cols-2 {
			@include breakpoint(medium) {
				& > div > div { @include xy-cell(1 of 2, null, $grid-margin-gutters, margin, right bottom left, medium, false, (size gutters)); }
			}
			@include breakpoint(large) {
				& > div > div { @include xy-cell(1 of 2, null, $grid-margin-gutters, margin, top right bottom left, medium, false, (size gutters)); }
			}
		}

		// 3 columns
		&.cols-3 {
			@include breakpoint(large) {
				& > div > div { @include xy-cell(1 of 3, null, $grid-margin-gutters, margin, top right bottom left, medium, false, (size gutters)); }
			}
		}

		// 4 columns
		&.cols-4 {
			@include breakpoint(medium) {
				& > div > div { @include xy-cell(1 of 2, null, $grid-margin-gutters, margin, right bottom left, medium, false, (size gutters)); }
			}
			@include breakpoint(large) {
				& > div > div { @include xy-cell(1 of 4, null, $grid-margin-gutters, margin, top right bottom left, medium, false, (size gutters)); }
			}
		}

		// 5 columns
		&.cols-5 {
			@include breakpoint(medium) {
				& > div > div { @include xy-cell(1 of 5, null, $grid-margin-gutters, margin, right bottom left, medium, false, (size gutters)); }
			}
			@include breakpoint(large) {
				& > div > div { @include xy-cell(1 of 5, null, $grid-margin-gutters, margin, top right bottom left, medium, false, (size gutters)); }
			}
		}

		// 6 columns
		&.cols-6 {
            @include breakpoint(320px) {
                & > div > div { @include xy-cell(1 of 2, null, $grid-margin-gutters, margin, right bottom left, small, false, (size gutters)); }
            }
            @include breakpoint(500px) {
                & > div > div { @include xy-cell(1 of 3, null, $grid-margin-gutters, margin, right bottom left, small, false, (size gutters)); }
            }
			@include breakpoint(medium) {
				& > div > div { @include xy-cell(1 of 3, null, $grid-margin-gutters, margin, right bottom left, medium, false, (size gutters)); }
			}
			@include breakpoint(large) {
				& > div > div { @include xy-cell(1 of 6, null, $grid-margin-gutters, margin, top right bottom left, medium, false, (size gutters)); }
			}
		}

		// 7 columns
		&.cols-7 {
			@include breakpoint(medium) {
				& > div > div { @include xy-cell(1 of 7, null, $grid-margin-gutters, margin, right bottom left, medium, false, (size gutters)); }
			}
			@include breakpoint(large) {
				& > div > div { @include xy-cell(1 of 7, null, $grid-margin-gutters, margin, top right bottom left, medium, false, (size gutters)); }
			}
		}

		// 8 columns
		&.cols-8 {
			@include breakpoint(small) {
				& > div > div { @include xy-cell(1 of 2, null, $grid-margin-gutters, margin, right bottom left, small, false, (size gutters)); }
			}
			@include breakpoint(medium) {
				& > div > div { @include xy-cell(1 of 4, null, $grid-margin-gutters, margin, right bottom left, medium, false, (size gutters)); }
			}
			@include breakpoint(large) {
				& > div > div { @include xy-cell(1 of 8, null, $grid-margin-gutters, margin, top right bottom left, medium, false, (size gutters)); }
			}
		}

		// 9 columns
		&.cols-9 {
			@include breakpoint(small) {
				& > div > div { @include xy-cell(1 of 3, null, $grid-margin-gutters, margin, right bottom left, small, false, (size gutters)); }
			}
			@include breakpoint(medium) {
				& > div > div { @include xy-cell(1 of 9, null, $grid-margin-gutters, margin, right bottom left, medium, false, (size gutters)); }
			}
			@include breakpoint(large) {
				& > div > div { @include xy-cell(1 of 9, null, $grid-margin-gutters, margin, top right bottom left, medium, false, (size gutters)); }
			}
		}

		// 10 columns
		&.cols-10 {
			@include breakpoint(small) {
				& > div > div { @include xy-cell(1 of 2, null, $grid-margin-gutters, margin, right bottom left, small, false, (size gutters)); }
			}
			@include breakpoint(medium) {
				& > div > div { @include xy-cell(1 of 5, null, $grid-margin-gutters, margin, right bottom left, medium, false, (size gutters)); }
			}
			@include breakpoint(large) {
				& > div > div { @include xy-cell(1 of 10, null, $grid-margin-gutters, margin, top right bottom left, medium, false, (size gutters)); }
			}
		}

		// 11 columns
		&.cols-11 {
			@include breakpoint(medium) {
				& > div > div { @include xy-cell(1 of 11, null, $grid-margin-gutters, margin, right bottom left, medium, false, (size gutters)); }
			}
			@include breakpoint(large) {
				& > div > div { @include xy-cell(1 of 11, null, $grid-margin-gutters, margin, top right bottom left, medium, false, (size gutters)); }
			}
		}

		// 12 columns
		&.cols-12 {
			@include breakpoint(small) {
				& > div > div { @include xy-cell(1 of 2, null, $grid-margin-gutters, margin, right bottom left, small, false, (size gutters)); }
			}
			@include breakpoint(medium) {
				& > div > div { @include xy-cell(1 of 6, null, $grid-margin-gutters, margin, right bottom left, medium, false, (size gutters)); }
			}
			@include breakpoint(large) {
				& > div > div { @include xy-cell(1 of 12, null, $grid-margin-gutters, margin, top right bottom left, medium, false, (size gutters)); }
			}
		}

	}

}

// has sidebars
body.has-one-sidebar, body.has-both-sidebars {
	.region-content {
		.views-view-grid {

			// horizontal
			&.horizontal {

				// 2 columns
				&.cols-2 {
					@include breakpoint(medium) {
						& > div > div { @include xy-cell(12, null, $grid-margin-gutters, margin, right bottom left, medium, false, (size gutters)); }
					}
					@include breakpoint(large) {
						& > div > div { @include xy-cell(1 of 2, null, $grid-margin-gutters, margin, top right bottom left, medium, false, (size gutters)); }
					}
				}

				// 4 columns
				&.cols-4 {
					@include breakpoint(medium) {
						& > div > div { @include xy-cell(12, null, $grid-margin-gutters, margin, right bottom left, medium, false, (size gutters)); }
					}
					@include breakpoint(large) {
						& > div > div { @include xy-cell(1 of 2, null, $grid-margin-gutters, margin, top right bottom left, medium, false, (size gutters)); }
					}
					@include breakpoint(xxlarge) {
						& > div > div { @include xy-cell(1 of 4, null, $grid-margin-gutters, margin, top right bottom left, medium, false, (size gutters)); }
					}
				}

				// 5 columns
				&.cols-5 {
					@include breakpoint(medium) {
						& > div > div { @include xy-cell(12, null, $grid-margin-gutters, margin, right bottom left, small, false, (size gutters)); }
					}
					@include breakpoint(large) {
						& > div > div { @include xy-cell(1 of 5, null, $grid-margin-gutters, margin, top right bottom left, medium, false, (size gutters)); }
					}
				}

				// 6 columns
				&.cols-6 {
					@include breakpoint(medium) {
						& > div > div { @include xy-cell(12, null, $grid-margin-gutters, margin, right bottom left, medium, false, (size gutters)); }
					}
					@include breakpoint(large) {
						& > div > div { @include xy-cell(1 of 2, null, $grid-margin-gutters, margin, top right bottom left, medium, false, (size gutters)); }
					}
					@include breakpoint(xlarge) {
						& > div > div { @include xy-cell(1 of 3, null, $grid-margin-gutters, margin, top right bottom left, medium, false, (size gutters)); }
					}
					@include breakpoint(xxlarge) {
						& > div > div { @include xy-cell(1 of 6, null, $grid-margin-gutters, margin, top right bottom left, medium, false, (size gutters)); }
					}
				}

			}
		}
	}
}