// Progress Tracker
//
// Progress tracker for usage with multistep webforms.
//
// Markup:
// <div class="webform-progress">
//    <ul class="webform-progress-tracker progress-tracker progress-tracker--center">
//      <li data-webform-page="page_1" title="Step 1" class="progress-step is-active">
//        <span class="progress-marker">1</span>
//        <span class="progress-text">
//          <span class="progress-title">Step 1</span>
//        </span>
//      </li>
//      <li data-webform-page="page_2" title="Step 2" class="progress-step">
//        <span class="progress-marker">2</span>
//        <span class="progress-text">
//          <span class="progress-title">Step 2</span>
//        </span>
//      </li>
//      <li data-webform-page="page_3" title="Step 3" class="progress-step">
//        <span class="progress-marker">3</span>
//        <span class="progress-text">
//          <span class="progress-title">Step 3</span>
//        </span>
//      </li>
//      <li data-webform-page="webform_confirmation" title="Complete" class="progress-step">
//        <span class="progress-marker">4</span>
//        <span class="progress-text">
//          <span class="progress-title">Complete</span>
//        </span>
//      </li>
//    </ul>
// </div>
//
// Styleguide Components.Progress Tracker

@import '../settings-foundation';
@import '../../../../../modules/contrib/webform/css/webform.progress.tracker.css';
@import url('https://cdn.jsdelivr.net/gh/NigelOToole/progress-tracker@v1.4.0/app/styles/progress-tracker.css');

.webform-progress {
  font-family: 'Open Sans', sans-serif;
  background: $dark-gray;

  .progress-tracker {
    margin: 1.5rem auto;
  }

  .progress-step {

    .progress-marker {
      width: rem-calc(48);
      height: rem-calc(48);
      border: 3px solid $medium-gray;
      position: relative;
      font-size: rem-calc(28);
      font-weight: 300;
      box-sizing: border-box;
      color: $medium-gray;
    }

    .progress-title {
      font-size: rem-calc(12);
      color: $medium-gray;
    }

    &:not(.is-active) {
      .progress-marker {
        background: $dark-gray;
      }
    }

    &.is-active {
      .progress-marker {
        background: $dark-gray;
        color: $dark-gray;

        &:before {
          content: '';
          display: block;
          position: absolute;
          z-index: -1;
          background-color: $primary-color;
          height: 38px;
          width: 38px;
          left: 2px;
          top: 2px;
          border-radius: 50%;
        }

      }
      .progress-title {
        font-weight: 400;
        color: $white;
      }
    }

    &.is-complete {
      .progress-marker {
        background: $dark-gray;
        color: $dark-gray;
        text-indent: -9999em;
        display: inline-block;

        &:before {
          content: '';
          display: block;
          position: absolute;
          z-index: -1;
          background-color: $primary-color;
          height: 38px;
          width: 38px;
          left: 2px;
          top: 2px;
          border-radius: 50%;
        }

        &:after {
          content: '✓';
          text-indent: 0;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
        }

      }
      .progress-title {
        font-weight: 400;
        color: $white;
      }
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      z-index: 0;
      background-color: $medium-gray;
      height: 6px;
      right: 0;
      top: 21px;
      width: 100%;
    }

    &:first-child {
      &:after { 
        border-radius: $global-radius 0 0 $global-radius;
      }
    }

    &:last-child {
      &:after {
        border-radius: 0 $global-radius $global-radius 0;
      }
    }

    &:hover {
      .progress-marker {
        background: $dark-gray !important;
      }
    }

  }
}