// Progress Bar
//
// Progress bar for usage on campaign pages.
//
// Markup:
// <div class="campaign--progress">
//    <div class="campaign--progress--progress" style="width: 50.859333333333%"></div>
// </div>
// <div class="campaign--values">
//    <div class="campaign--values__raised">Raised: R 76,289</div>
//    <div class="campaign--values__target">Target: R 150,000</div>
// </div>
//
// Styleguide Components.Progress Bar

@import '../settings-foundation';
@import '../../../../../modules/rogerwilco/rw_campaigns/css/rw_campaigns.theme.css';

.campaign--progress {
  height: 24px;
  background: lighten($medium-gray, 12%);
  border: 3px solid lighten($medium-gray, 12%);
  border-radius: 2px;
  margin-bottom: rem-calc(10);
  margin-top: calc(-1 * (9rem - 4px));
  @include breakpoint(large) {
    margin-top: 0;
  }

  &--progress {
    margin: 0;
    height: 18px;
    background: lighten($primary-color, 6%);
    border-radius: 2px;
  }
}

.campaign--values {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: rem-calc(18);
  color: lighten($medium-gray, 12%);
  position: relative;
  margin-bottom: 2rem;

  @include breakpoint(large) {
    margin-bottom: 1rem;
  }

  &__raised {
    position: absolute;
    top: -70px;
    @include breakpoint(large) {
      position: relative;
      top: auto;
    }
  }

  &__target {
    margin-left: auto;
  }
}