{#
/**
 * @file
 * Default template to render a preview of a palette of custom properties
 * defined by a page mode
 *
 * Available variables:
 * - id: The Page Mode machine name
 * - color_background: CSS color value for background color
 * - color_body_copy: CSS color value for text color
 * - color_primary: CSS color value for a primary color
 * - color_secondary: CSS color value for a secondary color
 * - color_highlight: CSS color value for a contrasting/highlight color
 * - color_link: CSS color value for a link
 * - gutter: CSS measurement for gaps/margins
 *
 * @ingroup themable
 */
#}
{{ attach_library('rw_pagebuilder/palette') }}

<style>
  .{{ id }}--color-background {
    --rw-background-color: #{{ color_background }};
  }
  .{{ id }}--color-body-copy {
    --rw-background-color: #{{ color_body_copy }};
  }
  .{{ id }}--color-primary {
    --rw-background-color: #{{ color_primary }};
  }
  .{{ id }}--color-secondary {
    --rw-background-color: #{{ color_secondary }};
  }
  .{{ id }}--color-highlight {
    --rw-background-color: #{{ color_highlight }};
  }
  .{{ id }}--color-link {
    --rw-background-color: #{{ color_link }};
  }
</style>
<ul class="pagemode--palette-preview">
  <li class="pagemode--palette-preview--item"><a name="{{ id }}" class="pagemode--palette-preview--swatch {{ id }}--color-primary" title="{{ 'Primary color:'|t }} #{{ color_primary }}"></a></li>
  <li class="pagemode--palette-preview--item"><a name="{{ id }}" class="pagemode--palette-preview--swatch {{ id }}--color-secondary" title="{{ 'Secondary color:'|t }} #{{ color_secondary }}"></a></li>
  <li class="pagemode--palette-preview--item"><a name="{{ id }}" class="pagemode--palette-preview--swatch {{ id }}--color-highlight" title="{{ 'Highlight color:'|t }} #{{ color_highlight }}"></a></li>
  <li class="pagemode--palette-preview--item"><a name="{{ id }}" class="pagemode--palette-preview--swatch {{ id }}--color-background" title="{{ 'Background color:'|t }} #{{ color_background }}"></a></li>
  <li class="pagemode--palette-preview--item"><a name="{{ id }}" class="pagemode--palette-preview--swatch {{ id }}--color-body-copy" title="{{ 'Text color:'|t }} #{{ color_body_copy }}"></a></li>
  <li class="pagemode--palette-preview--item"><a name="{{ id }}" class="pagemode--palette-preview--swatch {{ id }}--color-link" title="{{ 'Link color:'|t }} #{{ color_link }}"></a></li>
</ul>
