/*
Button (Hyperlink)

Default hyperlink button.

Markup:
  <a class="button {{modifier_class}}">{{modifier_class}} Button</a>

.primary - Primary style.
.secondary - Secondary style.
.success - Success style.
.alert - Alert style.
.warning - Warning style.
.ghost.primary - Ghost primary style.
.ghost.secondary - Ghost secondary style.

Styleguide Atoms.2
*/

@import '../../settings-foundation';
@import '../../../node_modules/foundation-sites/scss/foundation.scss';
@include foundation-button;

.button {
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;

  &.primary {
    color: $white;
    &:hover {
      color: $white;
    } 
  }

  &.secondary {}

  &.ghost {
    background-color: transparent;

    &.primary {
      color: $primary-color;
      border-color: $primary-color;

      &:hover,
      &:focus {
        color: $white;
        background-color: $primary-color;
      }
    }

    &.secondary {
      color: $secondary-color;
      border-color: $secondary-color;

      &:hover,
      &:focus {
        color: $white;
        background-color: $secondary-color;
      }
    }
  }
}
