{#
/**
 * @file
 * Default template for the progress bar/indicator thingy if enabled on
 * Campaigns
 *
 * Available variables:
 * - starting_value: The value captured as the starting value in the node
 * - current_value: The calculated progress value
 * - max_value: The target value captured in the campaign node
 * - progress_percentage: The calculated percentage of the target that has been
 *   reached.
 *
 *
 * @ingroup themable
 */
#}
<div class="campaign--progress">
  <div class="campaign--progress--progress" style="width: {{ progress_percentage }}%"></div>
</div>
<div class="campaign--values">
  <div class="campaign--values__raised">Raised: R {{ starting_value|number_format(0, ',') }}</div>
  <div class="campaign--values__target">Target: R {{ max_value|number_format(0, ',') }}</div>
</div>
