// :: FULL NODE :: //

.node--view-mode-full {

  .field--name-field-lede {
    margin: 0 0 2rem 0;
  }

  .field--name-field-image-ref {
    margin: 2rem 0 3rem;
    img {
      max-width: none;
      width: 100%;
    }
  }

  .field--name-body {
    margin: 2rem 0;
    font-size: rem-calc(18);
    h2, h3 {
      margin: 2.5rem 0 1rem;
    }
  }

  .field--name-field-pagebuilder-ref-rev {
    margin: 2rem 0;
    h2, h3 {
      margin: 2.5rem 0 1rem;
    }
    .field--name-field-wysiwyg {
      font-size: rem-calc(18);
    }
  }

  .rw-paragraph--wysiwyg--quote {
    color: $primary-color;
    font-style: italic;
    font-size: rem-calc(20);
    border-left: none;
    padding: 0;
    width: 100%;
    margin: 0 0 2rem 0;
    text-align: center;
    @include breakpoint(large) {
      font-size: rem-calc(26);
    }
    @include breakpoint(1300) {
      width: 30%;
      margin: 0 2rem 2rem calc(-1 * (1rem * 3));
      text-align: right;
    }
    @include breakpoint(xxlarge) {
      margin: 0 2rem 2rem calc(-1 * (2rem * 3));
    }
  }

  // campaign
  // &.node--type-campaign {
  //   // TEMPORARILY HIDING
  //   .campaign--progress,
  //   .campaign--values {
  //     display: none;
  //   }
  // }

}