{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
<div class="footer-logo">
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 240.7 72.6">
		<path fill="#fefefe" d="M20.9,0c7.6,0.1,7.6,0.1,8.7,7.8c1.5,11,2.7,21.9,3.6,33c0.3,3.3-1.3,4.1-4,4.2c-1.2,0-2.5-0.1-3.7,0c-2.2,0.2-2.8-0.9-2.8-2.9c0-3.3-0.2-6.7-0.2-10c0-2.2-0.7-3.2-3.1-2.9c-5.9,0.7-6.1,0.8-7.1,6.9c-0.1,0.9-0.3,1.7-0.4,2.6C10.6,45.1,10.6,45,4,45c-3.2,0-3.5-1.6-3-4c1.8-8.6,3.7-17.2,5.5-25.8c0.8-3.5,1.8-7,2.5-10.5c0.5-2.8,1.9-4.1,4.7-4.2C16.2,0.4,18.5,0.2,20.9,0z M21.6,17.3c-0.2-2.1-0.4-4.2-0.6-6.2c-0.1-1-0.2-2-1.6-2.1c-1.2,0-2.3,0.3-2.6,1.6c-0.6,2.1-1,4.3-1.5,6.5c-0.2,0.9-0.8,2.5,0.1,2.7c1.7,0.3,3.6-0.1,5.4-0.3C22,19.2,21.8,18.1,21.6,17.3z"/>
		<path fill="#fefefe" d="M52.1,31.8c2.1-6.9,3.9-12.8,5.7-18.7c0.4-1.2,0.7-2.4,1.3-3.5C59.9,8,61.4,8.1,63,8.2c1.5,0.1,2.1,0.9,2.4,2.3c1.7,10.2,1.9,20.5,2,30.8c0,3.2-2.9,1.3-4.4,1.8c-1.7,0.6-2.5-0.4-2.4-2.1c0.1-3.3,0-6.5,0-9.8c-0.4,0-0.7,0-1.1,0c-0.9,3.1-1.9,6.1-2.6,9.2c-0.7,3.1-2.9,3.5-5.5,3.7c-2.8,0.3-3.3-1.4-4-3.4c-1.2-3.8-2.6-7.5-4.1-12.1c-1.1,4.9,0.1,8.8,0.3,12.7c0.1,2.5-0.7,3.5-3.2,3.9c-2.4,0.4-3.4-0.3-3.5-2.8c-0.4-9.4-1-18.9-1.4-28.3c-0.1-1.8-0.8-4.2,2.4-4.5c2.7-0.3,5.2-1.1,6.5,2.7C46.4,18.5,49.2,24.6,52.1,31.8z"/>
		<path fill="#fefefe" d="M127.3,7.2c-0.2-5.8-0.2-5.9,6.4-6.3c2.5-0.2,4.9-0.3,7.4,0.2c5.9,1.2,9.9,4.4,11.5,10.4c2.1,7.9,2.3,15.8-0.3,23.5c-2,6-6.4,9.4-12.9,9.6c-11.8,0.4-9.5,2.1-10.5-9.7C128.3,26,127.9,17,127.3,7.2z M146,23.7c0-1.5,0.1-3,0-4.5c-0.7-5.9-2.9-8.8-7-9.8c-2-0.5-3.2-0.2-3.1,2.1c0.4,7.2,0.8,14.3,1.2,21.5c0.1,1.1,0.4,1.9,1.7,1.9c3.2,0.1,6-1.9,6.9-5C146.4,27.9,146.1,25.8,146,23.7z"/>
		<path fill="#fefefe" d="M193,5.1c8.2,0.4,7.5-1.8,8.8,7.3c1.3,9.2,2.3,18.5,3,27.8c0.2,3.2-1.1,4.2-4,4.1c-2.6-0.1-5.8,0.8-5.3-3.8c0.2-2.4-0.2-5-0.1-7.4c0-1.9-0.7-2.6-2.7-2.5c-4.8,0.3-5.4,0.7-6.2,5.5c-0.1,0.9-0.4,1.7-0.5,2.6c-1.1,6.1-1.1,6-7.1,5.6c-2.1-0.2-2.6-1.2-2.3-2.9c2.3-11.2,4.5-22.4,7.4-33.4c0.5-1.8,1.6-2.4,3.2-2.5C189.3,5.2,191.5,5.1,193,5.1z M194.7,19.1c-0.2-1.3-0.3-2.7-0.5-4c-0.2-1,0.1-2.4-1.7-2.3c-1.4,0-1.9,1-2.2,2.1c-0.4,1.4-0.8,2.9-0.9,4.3c-0.1,1-1.4,2.5,0,2.9c1.3,0.5,2.9,0,4.3-0.3C195.4,21.5,194.6,20.1,194.7,19.1z"/>
		<path fill="#fefefe" d="M85.8,6c8.7,0.4,8-1.1,8.7,7.9c0.7,8.8,1.2,17.6,1.9,26.4c0.3,3.5-1.5,4.3-4.4,4.2c-2.7-0.1-5.8,0.3-5.1-4.1c0.3-1.8,0.1-3.7,0-5.6c-0.1-1.5,1.4-4-1.5-3.9c-2.4,0-5.8-0.9-6.7,3c-0.5,2.2-1.3,4.3-1.4,6.5c-0.3,2.9-1.5,3.5-4.3,3.2c-5.3-0.6-5.5-0.4-4.1-5.6c2.3-8.8,4.7-17.5,7.1-26.2C77.5,6,77.6,6,83.6,6C84.4,6,85.1,6,85.8,6z M87.1,18.1c-0.7-1.5,1.1-4.1-1.7-4.5c-2.8-0.4-2.4,2.6-3.1,4.2c-0.2,0.3-0.1,0.7-0.3,1.1c-1.4,3.2-0.2,3.9,3,3.7C88.8,22.2,86.7,19.8,87.1,18.1z"/>
		<path fill="#fefefe" d="M106,24.7c0,5.3,0.1,10.7-0.1,16c0,1.2,0.8,3.7-1.7,3.2c-2-0.4-5.5,0.5-5.3-3.6c0.4-9.1,0.7-18.1,1.1-27.2c0.1-2,0.3-4,0.4-6c0-1.8,0-3.7,2.4-3.8c2.1-0.1,4.1,0.2,5.1,2.7c2.4,6.4,5,12.7,7.4,19.1c0.4,1,0.4,2.2,2.3,3c0-5.4,0-10.4,0-15.4c0-1.5-0.1-3,0-4.5c0.1-1.6-0.2-3.7,2.2-3.4c1.8,0.2,4.2-0.1,4.2,3.3c0,11.6-1.1,23.1-1.7,34.6c-0.1,1.1-0.3,2-1.7,2c-2.3-0.1-4.8,0.3-6-2.6c-1.9-4.9-3.9-9.7-5.8-14.5C108.3,26.6,108.2,25.3,106,24.7z"/>
		<path fill="#fefefe" d="M234.4,12.8c2,3.2,2,8.5-0.4,11.2c-1.9,2.2-4.2-0.1-6.6,0.3c3.5,1.6,6.2,3.6,5.1,7.9c-1.1,4.5-3.1,6.4-8.3,7.4c1,1.7,5.1-0.2,4.3,3.2c-0.8,3.4-3.3,0.1-5.1,0.9c0.8,2.2,5.1,2.3,3.7,5.7c-1.3,3.1-4.4,1.5-6.6,2.6c1.2,1.1,2.7,1,4,1.3c1.3,0.2,2,1,1.7,2.4c-0.3,1.4-1.2,1.2-2.3,0.9c-3.4-0.7-6.8-1.3-10.2-2.1c-1-0.2-2.3-0.3-2.3-1.9c0-1.6,0.5-2.7,2.2-3c2.7-0.6,5.3-1.1,8.3-1.7c-1.9-2.3-4.3-3.4-6.3-5c-1.2-0.9-2.6-1.8-1.8-3.6c0.8-1.7,2.4-0.8,3.6-0.6c0.4,0,0.7,0.1,2,0.2c-5.4-2.6-6-6.5-5.2-11.1c0.7-3.9,3.9-4,7.2-4.7c-0.9-0.3-1.3-0.5-1.7-0.7c-4.2-1.3-6-5.1-4.3-9.2c1-2.3,5.1-3,7.9-1c1.5,1.1,2.5,1.2,4.1,0.3c2.3-1.2,4.9-0.5,7.2,0.5L234.4,12.8z M221.9,27c-3-0.2-4.4,0.9-4.4,3.6c-0.1,2.9,2.2,4.6,6.3,4.8c2.9,0.2,4.5-1.2,4.7-4C228.7,28.8,226.3,27.2,221.9,27z M229.6,20.2c1.5,0.2,1.5-1.3,1.6-2.5c0.1-1-0.5-2-1.7-1.9c-1.8,0-2.1,1.5-2.3,2.8C227,20,228.1,20.1,229.6,20.2z M222.6,17c0-1.2-0.5-2.2-2.1-2.3c-1.2,0-1.8,0.6-1.9,1.8c-0.1,1.8,1.2,1.9,2.4,2.1C222.3,18.8,222.7,18.2,222.6,17z"/>
		<path fill="#fefefe" d="M164.7,22.2c0,3.5,0.1,7,0,10.5c-0.1,2.2,0.8,2.9,2.9,2.6c1.1-0.2,2.2-0.2,3.4-0.2c4.2-0.2,5.9,1.8,5.2,6c-0.2,1.2-1,1.7-2,1.9c-4.4,1-8.8,1.4-13.3,1.6c-2,0.1-2.7-0.8-2.7-2.6c0.1-10.2-1-20.4-1.7-30.5c-0.2-3.8,2.2-3.4,4.5-3.7c2.8-0.5,3,1.4,3.1,3.4C164.3,14.8,164.5,18.5,164.7,22.2C164.7,22.2,164.7,22.2,164.7,22.2z"/>
		<path fill="#fefefe" d="M223.3,64.3c0,5.1-2.6,8.2-7,8.3c-3.9,0.1-7.5-3.4-7.6-7.1c0-4.2,3.1-7.8,6.8-7.8C220.1,57.6,223.3,60.4,223.3,64.3z"/>
		<path fill="#fefefe" d="M234.5,12.9c0.1-2-0.3-3.2-2.8-3.3c-2.6-0.1-5.1-1-7.7-1.2c-1.4-0.1-2.8-1.3-4.3,0.7c-1,1.4-4-0.3-4.1-2.4c-0.1-1.1-0.1-2.2,0.1-3.3c0.3-2.7,2.6-3.8,4.2-1.7c1.8,2.4,4,2.6,6.4,2.9c3.7,0.5,7.2,2.4,11.4,0.4c2.6-1.3,3.7,0.5,2.4,3.4c-1.1,2.6-2.3,5-5.8,4.4C234.4,12.8,234.5,12.9,234.5,12.9z"/>
		<path fill="#fefefe" d="M128.6,61.2c1.5-2,2.8-3.7,5.4-2.6c2.4,1,3.2,2.9,3.2,5.4c0,1.9-0.1,3.7,0,5.6c0,1.2-0.8,1.3-1.7,1.5c-1.6,0.3-1.2-0.9-1.2-1.6c0-1.6,0.1-3.2,0-4.9c-0.1-1.4,0.1-3.5-1.8-3.6c-1.7-0.1-2.1,1.9-2.4,3.3c-0.2,1.1-0.3,2.2-0.4,3.3c-0.1,1.4,0.3,3.6-1.9,3.3c-1.8-0.2-0.9-2.2-1.1-3.5c-0.2-1.4,0-2.7-0.3-4.1c-0.2-1.1-0.6-2.3-2.1-2.1c-1.3,0.1-1.6,1.1-1.7,2.1c-0.2,1.9-0.2,3.7-0.4,5.6c-0.1,0.8,0.6,2.2-1.2,2c-1.2-0.1-1.8-0.7-1.7-1.9c0.2-3-0.3-6.2,0.6-8.9c0.9-2.5,3.9-1.2,6-1.2C127.1,58.9,127.7,60.1,128.6,61.2z"/>
		<path fill="#fefefe" d="M163.3,67.9c-0.4,0.6-0.7,1.4-1.2,1.9c-1.5,1.6-3.4,2.9-5.6,1.9c-2.5-1.1-2.5-3.6-2.3-5.8c0.4-5.6,6.6-9,12.1-6.9c1.1,0.4,1.1,1.3,0.9,2.1c-0.8,3.4,1.2,7.7-1.2,10.2C164.5,72.9,164.8,69.2,163.3,67.9z M158.3,68.9c2.1,0,4.8-3.2,4.8-5.8c0-1.1-0.4-1.6-1.5-1.6c-2.1-0.1-5.2,3.6-5.1,6.1C156.6,68.9,157.5,68.8,158.3,68.9z"/>
		<path fill="#fefefe" d="M9.6,68.4c-0.2,0.1-0.3,0.1-0.4,0.2c-1.9,2-3.8,4.4-6.9,3c-2.4-1.1-2.4-3.6-2.2-5.9c0.4-3.2,1.9-5.6,5.2-6.5c1.9-0.5,3.9-0.2,5.9-0.2c2.1,0,2.1,1,2,2.5c-0.2,2.1-0.1,4.2-0.4,6.3c-0.2,1.3,1.2,3.4-1.1,3.7C9.7,71.8,10.8,69.4,9.6,68.4z M9.1,63c0.1-1.1-0.4-1.6-1.5-1.6c-2.1,0-5.2,3.8-5.1,6.2c0.1,1.4,1,1.2,1.8,1.2C6.5,68.9,9.2,65.5,9.1,63z"/>
		<path fill="#fefefe" d="M187.5,57.9c0.9,0.3,1.9,0.5,2.8,0.9c0.7,0.4,1.8,0.8,1.3,1.9c-0.4,0.8-1.2,1.7-2.4,0.9c-0.3-0.2-0.7-0.3-1-0.4c-1.3-0.3-3.1-0.9-3.6,0.7c-0.4,1.6,1.5,1.6,2.6,1.9c0.8,0.2,1.7,0.4,2.5,0.5c2,0.3,3.8,1,3.9,3.3c0.1,2.1-1.3,3.5-3.2,4.2c-2.9,1.1-5.6,0.7-8-1.3c-0.7-0.6-1.7-1.4-0.6-2.5c0.8-0.8,1.5-0.5,2.2,0.3c0.7,0.8,1.5,1.2,2.5,1.5c1.7,0.4,3.7,0.3,4.1-1.4c0.4-1.7-1.9-1.3-3-1.8c-0.6-0.3-1.2-0.3-1.8-0.5c-2.2-0.7-5.2-1.2-4.5-4.4C182.1,58.8,184.9,58.5,187.5,57.9z"/>
		<path fill="#fefefe" d="M145.9,62.1c-1.7,0-2.9,0.1-4.2,0c-1.1-0.1-2-0.9-2-1.9c-0.1-1.5,1.3-1.1,2.2-1.1c1.7,0,3.5,0,5.2,0.1c0.9,0,1.9-0.6,2.5,0.9c0.5,1.4-0.2,2.1-0.9,2.9c-1.5,1.7-2.9,3.4-4.4,5.1c-0.1,0.1-0.1,0.4-0.1,0.7c1.6,0.5,3.2,0,4.7-0.1c1.4-0.1,2.2,0.7,2.3,1.9c0.1,1.7-1.3,1-2.2,1.1c-2.3,0.3-4.7,0.5-7.1,0.6c-0.8,0.1-2,0.3-2.3-0.7c-0.2-0.5,0.3-1.4,0.7-1.9C142.1,67.2,143.9,64.8,145.9,62.1z"/>
		<path fill="#fefefe" d="M99.4,65.1c0,3.8-2.6,6.8-6,6.9c-2.9,0.1-5.6-3-5.6-6.3c0.1-4.1,2.4-7.3,5.4-7.4C96.4,58.2,99.4,61.5,99.4,65.1z M97,65.1c-0.2-2.1-0.8-3.8-3.2-3.8c-2.5,0-3.4,1.8-3.4,4c0,2.5,1.6,4.1,4,4C96.8,69.2,96.7,66.8,97,65.1z"/>
		<path fill="#fefefe" d="M49.3,72c-2.7,0-5.3-3-5.3-6.2c0-4.3,2.4-7.5,5.7-7.5c3.1,0.1,5.9,3.4,5.8,7C55.4,69.1,52.7,72,49.3,72z M53.2,65.1c-0.2-2.1-0.9-3.8-3.3-3.8c-2.5,0-3.4,1.8-3.4,4c0,2.6,1.6,4,4,4C52.9,69.2,52.7,66.8,53.2,65.1z"/>
		<path fill="#fefefe" d="M29.2,52.9c1.5,3,1.6,7,6.6,7c-3.8,1-6,2.1-5.1,6.2c0.5,2.1,0.9,3.6,3.3,3.5c0.8,0,1.5,0.2,1.4,1.2c-0.1,1.1-0.8,1.5-1.8,1.5c-2.4,0.1-4-1.1-4.8-3.3c-1.1-2.8-0.3-6.1-2.7-8.5c-0.2-0.2-0.1-0.9,0-0.9C29.3,58.4,27.4,55.1,29.2,52.9z"/>
		<path fill="#fefefe" d="M168.9,64.8c0-1.1-0.1-2.3,0-3.3c0.2-1.4-0.2-4,2.5-1.5c0.8,0.7,1.2-0.5,1.8-0.7c3.4-1.3,5.3-0.3,5.7,3.3c0.3,2.1,0.5,4.2,0.7,6.3c0.1,1,0.2,2.1-1.3,2.2c-1.6,0.1-1.4-1-1.4-2c0-1.7,0-3.5-0.2-5.2c-0.1-1-0.5-2-1.7-2.2c-1.3-0.3-2.1,0.6-2.7,1.5c-1.1,1.7-0.9,3.6-0.9,5.4c0,1,0.2,2.2-1.2,2.3c-1.2,0-1.6-1.1-1.6-2.1C168.8,67.3,168.8,66.1,168.9,64.8C168.8,64.8,168.8,64.8,168.9,64.8z"/>
		<path fill="#fefefe" d="M57.1,64.5c0-1.4,0-2.7,0-4.1c0-0.9,0.4-1.4,1.2-1.6c1-0.3,0.8,0.6,1,1.1c0.6,1.5,1,0.1,1.4-0.1c3.8-2.1,5.9-1.2,6.5,3c0.3,2,0.4,4,0.6,5.9c0.1,1,0.1,2.1-1.3,2.2c-1.6,0.2-1.3-1.1-1.3-2.1c-0.1-1.5,0.1-3-0.1-4.5c-0.1-1.4-0.5-2.9-2.2-3c-1.6,0-2.5,1.2-2.8,2.6c-0.3,1.6-0.3,3.2-0.3,4.8c0,1-0.2,1.8-1.3,1.8c-1,0-1.5-0.7-1.5-1.7C57,67.5,57,66,57.1,64.5C57.1,64.5,57.1,64.5,57.1,64.5z"/>
		<path fill="#fefefe" d="M79.6,71.6c-1.3-2.7,0.8-6-2.4-8c-0.6-0.4-0.2-1.5,0.2-2c2.4-3.2,0.2-9.5,6.6-10.1c0.7-0.1,1.7-0.4,2,0.5c0.3,0.9-0.1,1.7-1.2,2c-2.6,0.7-3.5,2.4-3.6,4.9c-0.1,1.2-0.1,2.3,1.7,2c0.7-0.1,1.6-0.5,1.7,0.7c0.1,0.8,0,1.7-0.9,1.8c-3.8,0.2-2.4,2.8-1.9,4.6C82.4,70.2,81.9,71.3,79.6,71.6z"/>
		<path fill="#fefefe" d="M21.2,71.9c-3.6,0-5.9-0.8-6.7-3.9c-0.8-3.1,1.6-7.9,4.6-9.5c0.2-0.1,0.5-0.2,0.7-0.3c1.6-0.2,3.9-1.9,4.6-0.1c0.7,1.7-1.8,2-3.3,2.5c-1.8,0.7-3,2.2-3.7,4c-0.5,1.3-0.8,2.8,0.3,3.8c1.2,1,2.6,1.2,4.2,0.4c1.1-0.5,1.8-2,3.2-1.4c0.4,0.2,0.6,1.5,0.4,2c-0.6,1.5-2.1,1.9-3.6,2.3C21.5,71.9,21,71.9,21.2,71.9z"/>
		<path fill="#fefefe" d="M101.2,64.5c0-1,0-2,0-3c0-1.7-0.5-4,2.5-1.8c1.4,1,2.9-0.9,4.6-0.7c0.8,0.1,1.5,0.1,1.6,1.1c0.1,1-0.5,1.3-1.3,1.3c-4.2,0.3-5.4,2.8-5.1,6.6c0.1,1.1,0.8,3-0.9,3.1c-2,0-1.2-2-1.3-3.2C101.2,66.7,101.3,65.6,101.2,64.5C101.3,64.5,101.3,64.5,101.2,64.5z"/>
		<path fill="#fefefe" d="M200.1,71.4c-2.6-0.9-2.8-2.6-2.9-4.5c-0.1-2.1-0.2-4.2-0.2-6.3c0-0.8-0.6-2.2,1-2.2c1,0,1.4,0.9,1.5,1.8C199.7,63.8,199.9,67.5,200.1,71.4z"/>
		<path fill="#fefefe" d="M42,71.6c-2.3-1.1-2.8-2.6-2.8-4.4c0-2.1-0.2-4.2-0.2-6.3c0-0.9-0.6-2.3,0.8-2.5c1.5-0.2,1.7,1.1,1.7,2.3C41.7,64.2,41.8,67.7,42,71.6z"/>
		<path fill="#fefefe" d="M200.5,54.2c-0.4,1.2-0.7,2.5-2.2,2.5c-1.1,0-2.1-0.5-1.9-1.7c0.2-1.5,1.2-2.4,2.7-2.5C200.1,52.4,200.4,53.2,200.5,54.2z"/>
		<path fill="#fefefe" d="M42.4,54.1c-0.3,1.4-0.6,2.6-2.2,2.6c-1.1,0-2-0.6-1.9-1.8c0.2-1.5,1.2-2.4,2.7-2.5C42.2,52.4,42.2,53.4,42.4,54.1z"/>
	</svg>
</div>
<div{{ attributes.addClass('footer-text') }}>
	{{ text|raw }}
</div>
