@charset 'utf-8';

// CSS Framework
//
// Comment out of one of the below @imports

// Bootstrap
// @import 'use-bootstrap';

// Foundation
@import 'use-foundation';

// FRAMEWORK AGNOSTIC VARIABLES
$header-height: 100px;
$sidebar-left-width: 200px;
$sidebar-right-width: 400px;

// sidebar settings
.sidebar {
  position: relative;
  z-index: 1;
  &--left { width: $sidebar-left-width; }
  &--right { width: 100%; order: 1;
    @include breakpoint(large) {
      width: $sidebar-right-width;
      order: 2;
    }
  }
}
.has-sidebar {
  position: relative;
  z-index: 0;
  &--left { width: calc(100% - #{$sidebar-left-width}); }
  &--right { width: 100%; order: 2;
    @include breakpoint(large) {
      width: calc(100% - #{$sidebar-right-width});
      order: 1;
    }
  }
  &--both { width: calc(100% - (#{$sidebar-left-width} + #{$sidebar-right-width})); }
}

// Base
@import 'base/typography';
@import 'base/forms';

// Layout
@import 'layout/global';
@import 'layout/header';
@import 'layout/navigation';
@import 'layout/footer';

// Blocks
@import 'blocks/page-title';
@import 'blocks/breadcrumb';
@import 'blocks/webform';
@import 'blocks/bank-card-processors';

// Content
@import 'content/full';

// Views
@import 'view/grid';
