/*
Tile

Default tile component.<br>
<pre>[THEME]/templates/content/node--tile.html.twig</pre>

Markup:
  <article role="article" class="node node--view-mode-tile tile" style="width: 20rem;">
    <div class="node__content">
      <div class="tile-bg">
        <div class="field field--name-field-image-ref field--type-entity-reference field--label-hidden field__item">
          <article class="media media--type-image media--view-mode-landscape-sm">
            <div class="field field--name-field-media-image field--type-image field--label-hidden field__item">
              <img src="https://via.placeholder.com/320x240.png?text=320x240" width="320" height="240" class="image-style-standard-sml">
            </div>
          </article>
        </div>
      </div>
      <div class="tile-section">
        <h4>
          <a href="#" rel="bookmark">
            <span class="field field--name-title field--type-string field--label-hidden">This is a tile.</span>
          </a>
        </h4>
        <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
          <p>Some quick example text to build on the tile title and make up the bulk of the tiles's content.</p>
        </div>
        <a href="#" class="button primary btn btn-primary" title="href title">Primary Button</a>
      </div>
    </div>
  </article>

Styleguide Molecules.2
*/

@import '../../settings-foundation';
@import '../../../node_modules/foundation-sites/scss/foundation.scss';

.tile {
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  background: $black;
  height: 100%;
  display: flex;
  flex-direction: column;

  .node__content {
    flex-grow: 1;
  }

  &-bg {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
  }

  .field--name-field-image-ref {
    img {
      max-width: none;
      width: 110%;
      height: auto;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.4;
    }
  }

  &-section {
    position: relative;
    z-index: 1;
    padding: 1rem;
    color: $white;

    h4 {
      a {
        color: $white;
      }
    }
  }

  .button {
    margin-bottom: 0;
  }
}
