{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header_banner: Region for items above the header.
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.hero: Items for the hero region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.breadcrumb: Items for the breadcrumb region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.featured_top: Items for the featured top.
 * - page.content: The main content of the current page.
 * - page.content_last: Items for the content last.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_last: Items for the featured last.
 * - page.featured_bottom_first: Items for the featured bottom first.
 * - page.featured_bottom_second: Items for the featured bottom second.
 * - page.featured_bottom_third: Items for the featured bottom third.
 * - page.footer_first: Items for the footer first region.
 * - page.footer_second: Items for the footer second region.
 * - page.footer_third: Items for the footer third region.
 * - page.footer_fourth: Items for the footer fourth region.
 * - page.footer_message: Items for the footer message.
 * - page.offcanvas: Items for the offcanvas.

 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div class="site-header-before {{ container }}">
	{{ page.header_banner }}
</div>

<div class="site-header">
	<div class="{{ container }}">
		<header id="header" role="banner" aria-label="{{ 'Site header'|t }}" class="{{ row }}">

			<div class="{{ col }}">

				{{ page.header }}
				{# {{ page.primary_menu }} #}
				{# {{ page.secondary_menu }} #}

				<div class="burger-toggler">
					<div>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>

			</div>

		</header>
	</div>
</div>

<div class="site-header-after {{ container }}"></div>

{% if page.hero %}
<div id="hero {{ container }}">
	<div class="{{ row }}">
		<div class="{{ col }}">
			{{ page.hero }}
		</div>
	</div>
</div>
{% endif %}

<div class="main-content {{ container }}">

	{{ page.help }}
	{{ page.breadcrumb }}
	{{ page.highlighted }}

	<main role="main" class="{{ row }}">
		
		<a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

		{% if page.sidebar_first %}
		<aside id="sidebar-first" role="complementary" class="{{ col }} sidebar sidebar--left">
			{{ page.sidebar_first }}
		</aside>
		{% endif %}

		<section class="{{ main_grid }}">
			{{ page.featured_top }}
			{{ page.content }}
			{{ page.content_last }}
		</section>

		{% if page.sidebar_second %}
		<aside id="sidebar-second" role="complementary" class="{{ col }} sidebar sidebar--right">
			{{ page.sidebar_second }}
		</aside>
		{% endif %}

	</main>

	{{ page.featured_last }}

	{{ page.featured_bottom_first }}
	{{ page.featured_bottom_second }}
	{{ page.featured_bottom_third }}

</div>

<footer id="footer" role="contentinfo" class="footer">

	<div class="{{ container }}">
		<div class="{{ row }}">
			<div class="{{ col }}">
				{{ page.footer_first }}
				{{ page.footer_second }}
				{{ page.footer_third }}
				{{ page.footer_fourth }}
			</div>
		</div>

		{# {% if page.footer_message %}
		<div class="{{ row }}">
			<div id="colophon" role="colophon">
				{{ page.footer_message }}
			</div>
		</div>
		{% endif %} #}
	</div>

</footer>

{{ page.offcanvas }}
