// :: BANK CARD PROCESSORS :: //

.block-bank-card-processors-block {
  text-align: center;
  margin-top: 1rem;
  p {
    font-size: rem-calc(14);
    margin-bottom: 0;
  }
  img {
    width: 100%;
    max-width: 450px;
  }
}