// :: BREADCRUMB BLOCK :: //

.block-system-breadcrumb-block {
  padding: 4rem 0 0 0;

  nav.breadcrumb {
    ol {
      display: inline-flex;
      list-style: none;
      margin: 0;
    }
    li {
      text-transform: uppercase;
      font-weight: 300;
      font-size: rem-calc(12);

      &:before {
        content: '»';
        position: relative;
        top: -1px;
        margin-left: 3px;
      }

      &:first-child:before {
        display: none;
      }
    }
  }
}