// :: WEBFORM BLOCK :: //

.block-webform-block {
  position: relative;

  .webform-progress {
    margin-top: 3.5rem;
  }

  h2.webform-section-title {
    font-weight: 300;
    font-size: rem-calc(12);
    text-transform: uppercase;
    color: $white;
    border-bottom: 1px dashed $light-gray;
    width: 100%;
    padding: 1rem 1.5rem;
    position: absolute;
    top: 0;
    left: 0;
  }

  h3.webform-section-title {
    font-weight: 400;
    font-size: rem-calc(18);
    color: $white;
  }

  .webform-has-field-prefix {
    .field-prefix {
      position: absolute;
      line-height: rem-calc(52);
      left: 0.5rem;
      font-weight: 600;
      font-size: rem-calc(18);
    }
    [type='text'], [type='password'], [type='date'],
    [type='datetime'], [type='datetime-local'], [type='month'],
    [type='week'], [type='email'], [type='number'],
    [type='search'], [type='tel'], [type='time'],
    [type='url'], [type='color'], textarea {
      padding-left: 1.5rem;
    }
  }

  .webform-submission-donation-form-form {
    background: $dark-gray;
    border-radius: 3px;
    padding: 1.5rem;

    label, legend {
      color: $white;
      font-weight: 700;
      font-size: rem-calc(14);
    }

    .form-type-webform-markup {
      a.lock {
        color: $white;
        border-bottom: 1px dashed $white;
        display: inline-block;
        padding-bottom: rem-calc(2);
        margin: 1rem 0;
        &:before {
          content: '';
          display: inline-block;
          background: url('https://d3n8a8pro7vhmx.cloudfront.net/themes/57bc2931b928718162000001/attachments/original/1473338177/Home_lock.png?1473338177');
          position: relative;
          width: 15px;
          height: 19px;
          margin-right: rem-calc(10);
          top: 2px;
        }
      }
    }

    .webform-options-display-buttons {
      display: flex;
      margin: 0 -6px;
      label.webform-options-display-buttons-label {
        color: $dark-gray;
        white-space: nowrap;
        font-size: rem-calc(18);
        font-weight: 600;
        padding: 0;
        border-width: 2px;
        border-radius: 2px;
      }
      input:checked + label.webform-options-display-buttons-label {
        border-color: $light-gray;
        color: $white;
        position: relative;
        span {
          position: relative;
          z-index: 1;
        }
        &:after {
          content: '';
          width: calc(100% - 2px);
          height: calc(100% - 2px);
          background: $primary-color;
          position: absolute;
          top: 1px;
          left: 1px;
          display: block;
          z-index: 0;
          border-radius: 2px;
        }
      }
      .webform-options-display-buttons-wrapper {
        margin: 0 rem-calc(6) rem-calc(12) rem-calc(6);
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% - 12px);
        @include breakpoint(medium) {
          flex-basis: calc((100% / 2) - 12px);
        }
        @include breakpoint(large) {
          flex-basis: calc(100% - 12px);
        }
        @include breakpoint(1100) {
          flex-basis: calc((100% / 2) - 12px);
        }
      }
    }

    .webform-type-webform-radios-other {
      .webform-options-display-buttons {
        margin-left: - rem-calc(6);
        margin-right: - rem-calc(6);
      }
      .webform-options-display-buttons-wrapper {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc((100% / 2) - 12px);
        @include breakpoint(medium) {
          flex-basis: calc((100% / 3) - 12px);
        }
        @include breakpoint(large) {
          flex-basis: calc((100% / 2) - 12px);
        }
        @include breakpoint(1100) {
          flex-basis: calc((100% / 3) - 12px);
        }
      }
    }

    .webform-radios-other .webform-radios-other-input {
      display: block;
      position: relative;
      top: - rem-calc(64);
      margin-bottom: - rem-calc(52);
      left: calc((100% / 2) + 6px);
        width: calc((100% / 2) - 6px);
      @include breakpoint(medium) {
        left: calc((100% / 3) + 4px);
        width: calc(((100% / 3) * 2) - 4px);
      }
      @include breakpoint(large) {
        left: calc((100% / 2) + 6px);
        width: calc((100% / 2) - 6px);
      }
      @include breakpoint(1100) {
        left: calc((100% / 3) + 4px);
        width: calc(((100% / 3) * 2) - 4px);
      }
      input {
        margin-bottom: 0;
      }
    }

    .description {
      font-weight: 400;
      color: $light-gray;
      font-size: rem-calc(12);
    }

    .form-type-processed-text {
      color: $white;
    }

    .form-actions {
      display: flex;
      .webform-button--previous {
        background: transparent;
        color: $white;
        padding-left: 0;
        padding-right: 0;
      }
      .webform-button--next {
        margin-left: auto;
      }
      .webform-button--submit {
        margin-left: auto;
      }
    }

    .button {
      margin-bottom: 0;
    }

    // page 2 specific
    #edit-page-2 {
      #edit-personal-details {
        .webform-section-wrapper {
          display: flex;
          flex-wrap: wrap;
          margin-left: - rem-calc(6);
          margin-right: - rem-calc(6);
        }
        .form-item {
          flex-grow: 0;
          flex-shrink: 0;
          flex-basis: calc(100% - 12px);
          margin-left: rem-calc(6);
          margin-right: rem-calc(6);
          @include breakpoint(medium) {
            &-first-name,
            &-last-name {
              flex-basis: calc(50% - 12px);
            }
          }
          @include breakpoint(large) {
            &-first-name,
            &-last-name {
              flex-basis: calc(100% - 12px);
            }
          }
          @include breakpoint(1100) {
            &-first-name,
            &-last-name {
              flex-basis: calc(50% - 12px);
            }
          }
        }
      }
      #edit-billing-address-value--wrapper {
        .fieldset-wrapper {
          display: flex;
          flex-wrap: wrap;
          margin-left: - rem-calc(6);
          margin-right: - rem-calc(6);
          .form-item {
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: calc(100% - 12px);
            margin-left: rem-calc(6);
            margin-right: rem-calc(6);
            &-billing-address-value-country {
              margin-bottom: 0;
            }
            @include breakpoint(medium) {
              &-billing-address-value-state-province {
                flex-basis: calc(((100% / 3) * 2) - 12px);
              }
              &-billing-address-value-postal-code {
                flex-basis: calc((100% / 3) - 12px);
              }
            }
            @include breakpoint(large) {
              &-billing-address-value-state-province {
                flex-basis: calc(100% - 12px);
              }
              &-billing-address-value-postal-code {
                flex-basis: calc(100% - 12px);
              }
            }
            @include breakpoint(1100) {
              &-billing-address-value-state-province {
                flex-basis: calc(((100% / 3) * 2) - 12px);
              }
              &-billing-address-value-postal-code {
                flex-basis: calc((100% / 3) - 12px);
              }
            }
          }
          .description {
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: calc(100% - 12px);
            margin-left: rem-calc(6);
            margin-right: rem-calc(6);
          }
        }
      }
    }

    // page 3 specific
    #edit-page-3 {
      .webform-options-display-buttons {
        .webform-options-display-buttons-wrapper {
          @include breakpoint(medium) {
            flex-basis: calc((100% / 3) - 12px);
          }
          @include breakpoint(large) {
            flex-basis: calc(100% - 12px);
          }
          @include breakpoint(1100) {
            flex-basis: calc((100% / 3) - 12px);
          }
        }
      }
      #edit-account-details {
        .fieldset-wrapper {
          display: flex;
          flex-wrap: wrap;
          margin-left: - rem-calc(6);
          margin-right: - rem-calc(6);
          .form-item {
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: calc(100% - 12px);
            margin-left: rem-calc(6);
            margin-right: rem-calc(6);
            &-day-of-payment {
              margin-bottom: 0;
            }
            @include breakpoint(medium) {
              &-account-number {
                flex-basis: calc((20% * 3) - 12px);
                margin-bottom: 0;
              }
              &-day-of-payment {
                flex-basis: calc((20% * 2) - 12px);
              }
            }
          }
          .description {
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: calc(100% - 12px);
            margin-left: rem-calc(6);
            margin-right: rem-calc(6);
          }
        }
      }
    }

  }

}