/*
Teaser

Default teaser component.<br>
<pre>[THEME]/templates/content/node--teaser.html.twig</pre>

Markup:
  <article role="article" about="/campaigns/build-more-just-and-people-powered-mzansi" class="node node--view-mode-teaser teaser">
    <div class="node__content">
      <div class="teaser-image">
        <a href="#">
          <div class="field field--name-field-image-ref field--type-entity-reference field--label-hidden field__item">
            <article class="media media--type-image media--view-mode-landscape-sm">
              <div class="field field--name-field-media-image field--type-image field--label-hidden field__item">
                <img src="https://via.placeholder.com/320x240.png?text=320x240" width="320" height="240" class="image-style-standard-sml">
              </div>
            </article>
          </div>
        </a>
      </div>
      <div class="teaser-section">
        <h4>
          <a href="/campaigns/build-more-just-and-people-powered-mzansi" rel="bookmark">
            <span class="field field--name-title field--type-string field--label-hidden">This is a teaser.</span>
          </a>
        </h4>
        <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
          <p>Some quick example text to build on the teaser title and make up the bulk of the teaser's content.</p>
        </div>
        <a href="#" class="button primary btn btn-primary" title="href title">Primary Button</a>
      </div>
    </div>
  </article>

Styleguide Molecules.3
*/

@import '../../settings-foundation';
@import '../../../node_modules/foundation-sites/scss/foundation.scss';

.teaser {
  border-radius: 4px;
  border: 1px solid $light-gray;
  margin-bottom: 1rem;
  background: $white;
  overflow: hidden;

  .node__content {
    display: flex;
  }

  &-image {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 120px;
    padding: 1rem 0 1rem 1rem;

    @include breakpoint(medium) {
      flex-basis: 200px;
    }

    @include breakpoint(large) {
      flex-basis: 260px;
    }
  }

  .field--name-field-image-ref {
    border-radius: 4px;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &-section {
    padding: 1rem 1rem 1rem 1.5rem;
    color: $dark-gray;
  }
}
