/**
 * @file
 * Contains the base custom properties for Page Modes.
 */
:root {
  --rw-background-color: #fff;
  --rw-text-color: #343a40;
  --rw-primary-color: #ed2437;
  --rw-secondary-color: #000;
  --rw-highlight-color: #40ff40;
  --rw-white-color: #fff;
  --rw-black-color: #000;
  --rw-link-text-color: var(--rw-highlight-color, #00008b);
  --rw-admin-color: #a9a9a9;
  --rw-admin-color--warning: #ffffcc;
  --rw-admin-color--warning-text: #9f6000;
  --rw-admin-color--error: red;
  --rw-gutter: 32px;            /* The standard gap between things */
  --rw-pull-size: calc(3 * var(--rw-gutter, 96px));
  --rw-container-size: 1152px;  /* The default container width (8 x 12 x 12px) */
  --rw-display: block;          /* The default fallback, override with @support queries */
  --rw-display--flex: block;
  --rw-display--grid: block;
}

@supports (display: flex) {
  :root {
    --rw-display: flex;
    --rw-display--flex: flex;
    --rw-display--inline-flex: inline-flex;
  }
}

@supports (display: grid) {
  :root {
    --rw-display: grid;
    --rw-display--grid: grid;
  }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  :root {
    --rw-pull-size: 0;
  }
}

@media only screen
and (min-width : 321px) {
  :root {
    --rw-pull-size: 0;
  }
}

@media only screen
and (max-width : 320px) {
  :root {
    --rw-pull-size: 0;
    --rw-gutter: 12px;
  }}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  :root {
    --rw-pull-size: 0;
  }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  :root {
    --rw-pull-size: 0;
  }}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  :root {
    --rw-pull-size: 0;
  }}

@media only screen
and (min-width : 1024px) {

}

@media only screen
and (min-width : 1224px) {
}

.field--name-body, .rw-paragraph--title {
  /* margin-bottom: var(--rw-gutter); */
}
