/**
 * @file
 * Defaults for Slick slider rows, e.g. the pager and other layouts
 */
.rw-paragraph--microview--carousel,
.rw-paragraph--mosaic--carousel {
  height: auto;
  padding: 0;
  margin: 0 0 30px 0;
  margin: 0 0 var(--rw-gutter, 32px) 0;
}
.rw-paragraph--microview--carousel .slick-list,
.rw-paragraph--mosaic--carousel .slick-list {
}
.rw-paragraph--microview--carousel .slick .slick-slide,
.rw-paragraph--mosaic--carousel .slick .slick-slide {
  position: relative;
  margin: 0;
  padding: 0;
  /*background: yellow;*/
}
.rw-paragraph--microview--carousel .slick__slider,
.rw-paragraph--mosaic--carousel .slick__slider {
  position: relative;
  margin: 0;
  padding: 0;

}
.rw-paragraph--microview--carousel .slide .slide__content,
.rw-paragraph--mosaic--carousel .slide .slide__content {
  height: 100%;
  padding: 0;
  margin: 0;
}
.rw-paragraph--microview--carousel .node,
.rw-paragraph--mosaic--carousel .node {
  /*background: green;*/
  width: 100%;
  height: 100%;
  margin: 0;
}

/** Pager **/
.slick-dots {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 15px auto 30px auto;
  /*margin: 15px auto calc(var(--rw-gutter, 32px) / 2) auto;*/
  padding: 0;
}
.slick-dots li {
  list-style: none;
  margin: 0 5px;
  padding: 0;

}
.slick-dots li button {
  display: block;
  border: none;
}
slick-dots li button:hover {
}
.slick-dots li.slick-active button {
}
