/**
 * @file
 * Default styles to for a palette preview
 */
.pagemode--palette-preview {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.pagemode--palette-preview--item {
  background: #fff;
  border: 1px solid #dedede;
  margin: 1px;
}
.pagemode--palette-preview--item .pagemode--palette-preview--swatch {
  display: block;
  width: 24px;
  height: 24px;
  margin: 1px;
  background: var(--rw-background-color, #fff);
}
